.divMain{
    display: flex;
    flex-direction: column;
}

button{
    margin-top: 5vh;
    width: 20vw;
    height: 10vh;
    background-color: blue;

    font-size: 20px;
}

input{
    height: 5vh;
    color: rgb(69, 69, 77);
}